{% extends 'mainapp/base.html' %}
{% load static %}



{% block content %}
    <main>
        <div class="container">
            <div class="row">

                <!-- blog-contents -->
                <section class="col-md-8">
                    {% for post in page_number %}
                    <article class="blog-item">
                        <div class="row">
                            <div class="col-md-3">
                                <a href="{{ post.get_absolute_url }}">
                                    <img src="{{ post.header_image.url }}" class="img-thumbnail center-block" alt="Blog Post Thumbnail">
                                </a>
                            </div>
                            <div class="col-md-9">
                               <div class="post-title">
                                <h1>
                                    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                                </h1>
                               </div>
                              
                                <p>
                                     {{ post.subject }}
                                </p>
                                <br>
                                <a href="#">
                                    <p>
                                        post By 
                                        <a href="#">{{ post.author }}</a>
                                        ,
                                        <time>{{ post.date }}<time>
                                    </p>                            </div>
                        </div>
                    </article> 
                    {% endfor %}


                <div class="page-turn">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3 text-center">
                                <nav>
                                    <ul class="pagination pagination-sm">
                                        <li class="#">
                                            {% if page_number.has_previous %}
                                            <a href="?page={{ page_number.previous_page_number }}" aria-label="Previous">
                                                <span aria-hidden="true">Prev</span>
                                            </a>
                                            {% endif %}
                                        </li>
                                        <li class="active"><a href="?page=1">1</a></li>
                                        <li><a href="?page=2">2</a></li>
                                        <li><a href="?page=3">3</a></li>
                                        <li><a href="?page=4">4</a></li>
                                        <li><a href="?page=5">5</a></li>
                                        <li>
                                            {% if page_number.has_next %}
                                            <a href="?page={{ page_number.next_page_number }}" aria-label="Next">
                                                <span aria-hidden="true">Next</span>
                                            </a>
                                            {% endif %}
                                        </li>
                                    </ul> <!-- /.pagination -->
                                </nav>
                            </div>
                        </div>
                    </div> <!-- /.page-turn -->

                </section>
{% endblock %}               <!-- end of blog-contents -->
</body>
</html>
